.account-wrapper {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: flex-start;
    padding: 50px 0px;

    .account-navbar {
        width: 15%;
        list-style: none;

        a {
            color: black;
        }
    }

    .account-detail {
        width: 85%;
    }
}