.account-wrapper {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: flex-start;
    padding: 50px 0px;

    .account-navbar {
        width: 15%;
        list-style: none;
        font-size: 18px;
        font-weight: bold;

        li {
            padding-bottom: 10px;
        }

        .active {
            color: #152347;
        }

        a {
            color: rgb(177, 173, 173);
        }
    }

    .account-detail {
        width: 85%;
    }
}