.favourite-page {
    margin: auto;
    padding: 20px;
    width: 85%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    .all-product-wrapper {
        width: 100%;
    }
}